@font-face {
    font-family: "kouzan";
    src: url(./fonts/KouzanMouhituFont/衡山毛筆フォント.ttf) format("truetype");
}


body {
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.kowai {
    border-radius: 10%;
}

.skills h2 {
    position: relative;
    top: -60px;
    font-size: 700;
}

header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul li a {
    color: #fffafa;
    font-size: 20px;
    text-decoration: none;
}

header img {
    height: 30px;
    object-fit: contain;
}

@media screen and (max-width: 767px) {
    header {
        align-items: center;
    }

    header ul {
        display: flex; 
        margin: 0;
        padding: 0;
        list-style: none;

    }
    header ul li a {
        font-size: 15px;
    }
}

footer {
    background-color: #333;
    color: #000000;
    padding: 10px;
}

.top {

    background-size: cover;
    padding: 200px 0;
    background-position: center;
    position: relative;
}

.top video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media screen and (max-width: 767px) {
    .top video {
        display: none
    }
    .top {
        background-image: url(./image/s13.jpg);
        background: cover;
        object-fit: cover;
    }
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.top > * {
    position: relative;
    z-index: 2;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }

  tr td {
    font-family: kouzan, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
  }
  
.top h1 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: kouzan, sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(155, 4, 255, 0.8), -2px -2px 5px rgba(255, 0, 212, 0.8);
    position: relative;
    top: -55px;
}

@media screen and (max-width: 767px) {
    .top h1 {
        font-size: 55px;
        margin: 0;
        position: relative;
    }
}

.about {
    padding: 100px;
    background-color: #000000;
    background-position: center; 
}

@media screen and (max-width: 767px) {
    .about .first {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .about {
        padding: 30px;
        background-color: #000000;
    }
    
    .about table tr td {
        font-size: 20px;
        padding-left: 0px;
        padding: 0;
    }

    .about table {
        width: 100%; 
        text-align: left;
        padding: 0;
        margin-left: 0;
    }
}

h2 {
    margin: 0;
    font-family: kouzan, sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

hr {
    margin-bottom: 50px;
    height: 5px;
    width: 100px;
    border: none;
}

.blue-line {
    background-color: #00d5ff;
}


.about img {
    width: 200px;
    overflow: visible;
}

@media screen and (max-width: 767px) {
    .valino {
        display: none;
    }
    .ore {
        display: none;
    }
}

.about table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.skills {
    padding: 100px; 
    background-image: url(./image/haikei.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 100px;
}

.skills .blue-line {
    position: relative;
    top: -65px;
}

@media screen and (max-width: 767px) {
    .skills {
        flex-wrap: wrap;
        background: cover;
        background-repeat: repeat;
        background-position: center;
        background-size: 100%;
        padding: 0px;
        position: relative;
    }

    .skills::before {
        background-image: none;
    }
    .box {
        width: 20%; 
        height: 20%;
        margin: 0;
        padding: 0;
    }

    .box img {
        width: 50%; 
        height: 50%;
        margin: 0;
        padding: 0;
        /* margin: 0;  */
    }
    
    .skills h2 {
        margin-top: 0;
        position: relative;
        top: 55px;
    }

    .skills .blue-line {
        position: relative;
        top: 60px;
    }
}

.white-line {
    background-color: #ffffff;
}

.box {
    background: #ffffff;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    /* width: 15%; */
}

.box img {
    display: block;
    margin: 20px auto;
    width: 50%;
}

.MySQL-box {
    position: relative;
    width: 300px;
    height: 50px;
}

.js-box {
    position: relative;
    width: 50%;
    height: 50px;
}

.portfolio {
    padding: 0;
    background-image: url(./image/d0e742a3-3718-46fb-880d-f5fa30c539cd-x2.png);
    background-position: center; 
    background-repeat: no-repeat; 
    object-fit: cover;
    background-size: contain;
    /* padding: 100px; */
    background-color: #000000;
}

@media screen and (max-width: 767px) {
    .card {
        width: 45%; /* 横幅を45%に設定して大きくする */
        height: auto; /* 高さを自動調整 */
        max-height: 300px; /* 必要に応じて最大高さを設定 */
        background: #ffffff;
        border-radius: 15px;
        display: inline-block;
        margin: 20px;
        overflow: hidden;
    }

    .card p {
        font-size: 7px;
    }
    .card h3 {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
}

.card {
    background: #ffffff;
    border-radius: 15px;
    display: inline-block;
    margin: 20px;
    width: 25%;
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.first {
    font-family: Zen Maru Gothic, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.valino {
    width: 350px;
    height: 350px;
    margin-left: -50px;
    object-fit: cover;
    position: absolute;
    bottom: -230px;
    left: 170px;
}

.ore {
    width: 500px;
    height: 500px;
    /* margin-left: -60px;  */
    object-fit: cover;  
    position: absolute;
    bottom: -350px; 
    right: 100px;
}

