html{
    font-family: "Dancing Script", cursive;
       font-family: "Noto Sans JP", sans-serif;
}

.notoserif {
    font-family: "Noto Serif JP", serif;
    font-weight: 700;
}

.zenmaru {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
}
.pop {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 27px 0;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.logo span{
    color: brown;
}
.header_menu li {
    margin-left: 40px;
}
.header_menu li a {
    transition: .2s;
}
.header_menu li a:hover {
    color: brown;
    transition: .2s;
}

@media only screen and (max-width: 768px) {
    header .container {
        justify-content: center;
    }
    .header_menu li {
        margin: 20px 16px 0;
    }
}

/* メイン */
#hero {
    background-image: url(../img/tttt.png);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    #hero {height: 460px;}
    .hero_inner p {font-size: 15px;}
    .hero-inner h1 {font-size: 17px;}
}

#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 1;
}
.hero_inner {
    z-index: 2;
    color: white;
    width: 100%;
    text-align: center;
}
.hero_inner p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* コンセプト */
#concept {
    margin-bottom: 120px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    color: brown;
    margin-bottom: 40px;
}
#concept h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}
.text {
    line-height: 2;
}
.concept-img {
    background-image: url(../img/26304442_s.jpg);
    background-position: center;
    background-size: cover;
    height: 440px;
    border-radius: 15px;
    margin-left: 43px; 
}
.heading {
    font-family: "Dancing Script", cursive;
    font-size: 200px;
    font-weight: 700;
    color: brown;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform:  translateY(-30%);
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #concept h3 {
        font-size: 24px;
        line-height: 1.5;
    }
    .column-2 {
        width: 100%;
    }
    .text {
        line-height: 1.7;
        font-size: 15px;
    }
    .concept-img {
        margin-top: 30px;
    }
}
/* サービス */
#service {
    margin-bottom: 120px;
}
.service_inner {
    margin-bottom: 40px;
    position: relative;
}
.column-40 {
    width: 40%;
}
.column-55 {
    width: 55%;
}
#service img {
    width: 107%; /* 元のサイズより5%大きく */
    max-width: none; /* max-widthの制限を解除 */
    height: auto; /* アスペクト比を維持 */
    border-radius: 20px; 
    margin-bottom: 100px;
}
#service h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.heading {
    font-family: "Dancing Script", cursive;
    font-size: 180px;
    font-weight: 700;
    color: brown;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-30%);
    z-index: -1;
}
.heading .nostalgic {
    font-size: 200px;
    font-weight: 700;
    display: inline-block;
    transform: translateY(25%) translateX(10%); /* この行を追加 */
  }

.heading {
    top: -8%;
}

@media only screen and (max-width: 768px) {
    .column-40 {
        width: 100%;
        margin-top: 30px;
    }
    .column-55 {
        width: 100%;
    }
    #service h3 {
        font-size: 17px;
    }
}

/* チーム */
#team {
    margin-bottom: 120px;
}
#team dl {
    max-width: 900px;
    margin-left: auto;
}
#team dt {
    width: 30%;
    padding: 48px 0;
    border-bottom: solid 1px black;
}
#team dd {
    width: 70%;
    padding: 48px 0;
    border-bottom: solid 1px black;
}

@media only screen and (max-width: 768px) {
    #team dl {
        font-size: 14px;
    }
}
/* ボトム*/
.column-a {
    background-image: url(../img/cl\ a.jpg);
    background-position: center;
    background-size: cover;
    width: 24%;
    height: 270px;
    border-radius: 20px;
}

/* フッター */
footer {
    text-align: center;
    margin: 90px 0;
    margin-top: auto;
}
.copyright {
    font-size: 12px;
    margin-top: 20px;
}